@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>投诉与建议</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Content/WeiXin/css/table.css" rel="stylesheet" />
    <script src="~/Content/WeiXin/fixTable/fixTable.js"></script>
    <script src="~/Content/WeiXin/BeatPicker/jquery-1.11.0.min.js"></script>
    <script src="~/Content/WeiXin/js/table.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            getRem(768, 100);
            if ($("#reply").val() == "") {
                $(".reply").hide();
            } else {
                $(".reply").show();
            }
            $(window).resize(function () {
                getRem(768, 100);
            });
            function getRem(pwidth, prem) {
                var html = document.getElementsByTagName("html")[0];
                var oWidth = document.body.clientWidth || document.documentElement.clientWidth;
                var oHeight = document.body.clientHeight || document.documentElement.clientHeight;
                if (oWidth >= pwidth) {
                    oWidth = pwidth;
                } if (oWidth > oHeight) {
                    oWidth = oHeight
                }
                var size = oWidth / pwidth * prem
                html.style.fontSize = size + "px";
            }
            $("#tj").click(function () {
                setoption();
            })
            init();
        })
        //投诉建议
        setoption = function () {
            var title = $("#txt_title").val();
            var type = $("#txt_type").val();
            var yj = $("#txt_content").val();
            $.post("/TuOption/AddUOption", { title: title, type: type, content: yj }, function (ret) {
                if (ret.success) {
                    alert("添加成功");
                }
            })
        }
        //初化加载一下
        init = function () {
            var id = $("#hid_id").val();
            if (id != "0") {
                var type = '@Model.type';
                $("#txt_type").val(type);
                $("#txt_title").attr("disabled", true);
                $("#txt_type").attr("disabled", true);
                $("#txt_content").attr("disabled", true);
                $(".opinion tfoot").hide();
            }
        }
    </script>
</head>
<body>

    <div class="opinion">
        <input id="hid_id" value="@Model.id" type="hidden" />
        <table width="100%;">
            <tbody>
                <tr>
                    <td style="width:1.5rem">标题：</td>
                    <td><input type="text" id="txt_title" value="@Model.title" /></td>
                </tr>
                <tr>
                    <td>类型：</td>
                    <td>
                        <select id="txt_type">
                            <option value="1">意见</option>
                            <option value="2">投诉</option>
                            <option value="3">其他</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>意见：</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2"><textarea id="txt_content">@Model.content</textarea></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" align="center"><input type="button" id="tj" value="提交" /><button onclick="window.location.href = '/TuOption/ListOptionPortal'">关闭</button></td>
                </tr>
            </tfoot>
        </table>
        <table width="100%;" class="reply">
            <tr>
                <td>回复：</td>
            </tr>
            <tr>
                <td><textarea disabled="disabled" id="reply">@Model.rcontent</textarea></td>
            </tr>
        </table>
    </div>
    @RenderPage("~/Views/Shared/_WxFoot.cshtml")
</body>
</html>
