@{
    @model GetMoney.Model.OrderDto
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderListViewPortal</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
    <script language="javascript" type="text/javascript">
        function printpreview(e)
        {
            $(e).hide();
            window.print();
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title text-center">
                        互&nbsp;&nbsp;&nbsp;助&nbsp;&nbsp;&nbsp;会&nbsp;&nbsp;&nbsp;单
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" style="margin-bottom:0px">
                        <thead>
                            <tr>
                                <th style="width:45px">序号</th>
                                <th style="width:160px">日期</th>
                                <th>标息</th>
                                <th>得标人</th>
                                <th style="width:45px">序号</th>
                                <th style="width:160px">日期</th>
                                <th>标息</th>
                                <th>得标人</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.List)
                                {

                                    if (i % 2 == 1)
                                    {
                                        <tr>
                                            <td>@(i % 2)</td>
                                            <td>@item.MeetDate</td>
                                            <td>@item.AccrualMoney </td>
                                            <td>@item.TrueName</td>
                                            <td>@i</td>
                                            <td>@item.MeetDate</td>
                                            <td>@item.AccrualMoney </td>
                                            <td>@item.TrueName</td>
                                        </tr>
                                    }
                                    else {

                                    }
                                    i++;
                                }
                            }
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                                <td>10</td>
                                <td>2016-08-10 19:00:00</td>
                                <td>500</td>
                                <td>谢宗秋</td>

                            </tr>
</tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            会员列表：
                            @foreach (var item in ViewData["listuser"] as List<GetMoney.Model.OrderListUserDto>)
                            {
                               <span>@item.TrueName &nbsp;</span>  
                            }
                        </div>
                        <div class="panel-footer">
                            <span class="help-block">
                                <span style="color: red; font-weight: bold;">说明</span>：1.本会从 <span style="color:red">@Model.FirstDate.ToLongDateString()</span> 起至 <span style="color:red">@Convert.ToDateTime(Model.List[i - 2].MeetDate).ToLongDateString()</span> 止,共有会员 <span style="color:red">@Model.PeoperNum</span> 名,每名会员每月会费(会款) <span style="color:red">@Model.PeoperMoney</span> 元,总会费(会款)金额为 <span style="color:red">@Model.AllPeoperMoney</span> 元整.请会员在每月标会前将会款交清,不得拖欠.
                                2.本会以 <span style="color:red">@Model.MoneySendType</span> 的形式举行,最低标息为 <span style="color:red">@Model.LowestMoney</span> 元,会头为 <span style="color:red">@Model.TouTrueName</span> 电话为 <span style="color:red">@Model.Phone</span>
                                3.本会标会地址为 <span style="color:red">@Model.Address</span>,正常标会时间为每月<span style="color:red"> @Model.FirstDate.ToString("dd") </span>日<span style="color:red"> @Model.FirstDate.ToString("HH:mm:ss") </span>开始标会,迟到者按弃权论.
                                @if (Model.MeetType == 2 || Model.MeetType == 3){ <span>4.加标标会时间为每月<span style="color:red"> @Model.FirstExtraDate.ToString("dd") </span>日<span style="color:red"> @Model.FirstExtraDate.ToString("HH:mm:ss") </span>开始标会,迟到者按弃权论.</span> }
                                备注：@Model.Remark
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <style type="text/css">
                table, th, td {
                    text-align: center;
                    vertical-align: middle!important;
                }
            </style>


            @*<div class="view">
                <table class="table table-bordered">
                    <caption><h3 class="text-center">互&nbsp;&nbsp;&nbsp;助&nbsp;&nbsp;&nbsp;会&nbsp;&nbsp;&nbsp;单</h3></caption>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>日期</th>
                            <th>标息</th>
                            <th>得标人</th>
                            <th>状态</th>
                            <th>序号</th>
                            <th>日期</th>
                            <th>标息</th>
                            <th>得标人</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                    </tbody>
                </table>
            </div>*@
            <div class="view">
                <button class="btn btn-primary" onclick="printpreview(this)">打印</button>
            </div>
        </div>
    </div>
</body>
</html>
