@model GetMoney.Model.TUserDto
@using GetMoney.Model
    @{ 
        var ndto = ViewData["Notice"] as TNoticeDto;
    }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TUserWxOrder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Content/WeiXin/css/table.css" rel="stylesheet" />
    <link href="~/Content/WeiXin/BeatPicker/BeatPicker.min.css" rel="stylesheet" />
    <link href="~/Content/layer_mobile/need/layer.css" rel="stylesheet" />
    <script src="~/Content/layer_mobile/layer.js"></script>
    <script src="~/Content/WeiXin/fixTable/fixTable.js"></script>
    <script src="~/Content/WeiXin/BeatPicker/BeatPicker.min.js"></script>
    <script src="~/Content/WeiXin/BeatPicker/jquery-1.11.0.min.js"></script>
    <script src="~/Content/WeiXin/js/table.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ShowNotice();
            var pagesize = Math.ceil($(".cont").height() / 30) - 1;//获取每页条数
            var len;                    //共几条
            var pageindex = 1;          //当前页码
            var pagenum = 1;            //共几页
            //滚动的方法
            function scrolls() {
                $("#MyTable_tableData").on('scroll', function () {
                    if (top = $(this).scrollTop()) {
                        var h = $(this).height();//div可视区域的高度
                        var sh = $(this)[0].scrollHeight;//内容高度
                        var st = $(this).scrollTop();//滚动条的高度，即滚动条的当前位置到div顶部的距离
                        if (st > 50) {
                            $(".goTop").fadeIn();
                        } else {
                            $(".goTop").fadeOut();
                        }
                        if (st >= sh - h) {
                            if (parseInt(pageindex) >= parseInt(pagenum)) {
                                //$('.over').show().delay(1200).fadeOut();
                                return;
                            }
                            pageindex++;
                            searchlist();
                        }
                    }
                })
            }
            //初始化和滚动
            init = function () {
                call(768, 100);   //
                scrolls();          //
            }
            $("#search").bind("click", function (ret) {
                searchlist(1);
            })
            $("#img_tx").bind("click",function(ret){UserInfo();})
            $(window).resize(function () { init() });
            searchlist = function (firstpage) {
                var bt = $(".beatpicker-input-from").val();
                var et = $(".beatpicker-input-to").val();
                var state = $("#op").val();
                var curpindex = pagesize;
                if(firstpage==1){curpindex = firstpage;$(".data-list tbody").html("");}
                var data = {
                    pageindex: curpindex,
                    pagesize: pagesize,
                    state: state,
                    btime: bt,
                    etime: et
                }
                $.getJSON("/Order/MyListOrderPage", data, function (ret) {
                    if (ret.success) {
                        var str = "";
                        $.each(ret.list, function (i, o) {
                            var zz = "<button class=\"btn_fz\" onclick=\"OrderPriView('/Order/TypePayPortal?orderno=" + o.OrderNo + "&uid="+@ViewBag.uid+"')\")\">转账</button>";
                            if(o.TouUserid == @ViewBag.uid)zz = "<button class=\"btn_fz\" onclick=\"OrderPriView('/Order/FindListOrder?orderno=" + o.OrderNo + "')\")\">全部</button>";

                            str += "<tr><td>" + o.TouTrueName + "</td><td>" + HideOrderNo(o.OrderNo) + "</td><td>" + o.PeoperMoney + "</td><td>" + o.AllPeoperMoney + "</td><td>" + o.PeoperNum + "</td><td>" + o.FirstDate1 + "</td><td>" + GetStateN(o.State) + "</td><td><button class=\"btn_fz\" onclick=\"FindOrderLists('/Order/OrderWxLists?orderno=" + o.OrderNo + "')\">查看</button><button class=\"btn_fz\" onclick=\"OrderPriView('/Order/OrderListViewPortal?orderno=" + o.OrderNo + "')\")\">预览</button>"+zz+"</td></tr>";
                        })
                        str += "</table>";
                        $(".data-list tbody").append(str);
                        len = ret.total;    //总条数
                        if (len != 0)
                            pagenum = Math.ceil(len / pagesize)
                    }
                    init();
                })
            }
            searchlist(1);
            dateInit(); //时间控件初始化
        })
        //会单状态
        GetStateN = function (v) {
            if (v == 1) return '活会';
            if (v == 2) return '死会';
            if (v == 3) return '险会';
        }
        //预览
        OrderPriView = function(url){
            window.open(url,"_blank");
        }
        //查看
        FindOrderLists = function(url){
            window.location.href=url;
        }
        //缩短会单号,方便记忆
        HideOrderNo = function(orderno){
            var str = '***'+orderno.substr(orderno.length-5);
            return str;
        }
        //更新用户信息
        UserInfo = function(){
            window.location.href='/TUser/WxEditPortal?id='+@Model.id;
        }
        //展示公告
        ShowNotice = function(){
            var notice = '@ViewBag.n';
            if(notice!='-1')return;
            layer.open({
                title: [
                  '@ndto.Title',
                  'background-color:#8DCE16; color:#fff;'
                ]
                  ,anim: 'up'
                  ,content: '@Html.Raw(ndto.ContentTxt)'
                  ,shadeClose:false
                  ,btn: ['知道了']
                ,success:function(){
                    $.getJSON("/TUser/UserDayOnly",{type:1},function(ret){
                        //console.log(ret);
                    })
                },yes:function(index){
                    layer.close(index);//console.log(2);
                },no:function(){
                    //console.log(3);
                },end:function(){
                    //console.log(4);
                }
            });
        }
    </script>
</head>
<body>
    <div class="head">
        <ul class="userinfo">
            <li><span>用户ID：</span><b>@Model.id</b></li>
            <li><span>昵称：</span><b>@Model.NickName</b></li>
            <li><span>手机号：</span><b>@Model.Phone</b></li>
            <li><span>好友链接：</span><button id="btn_fz" class="btn_fz">复制</button></li>
        </ul>
        <div class="userImg"><img id="img_tx" src="@Model.TxUrl" /></div>
    </div>

    <div class="conditional">
        <table width="100%" class="everyday">
            <tr>
                <th align="left">查询</th>
                <th align="right" id="key">展开</th>
            </tr>
        </table>
        <div class="screen">
            <b>
                <span>状态：</span>
                <select id="op">
                    <option value="-1">全部</option>
                    <option value="1">活会</option>
                    <option value="2">死会</option>
                    <option value="3">险会</option>
                </select>
                <button id="search">查询</button>
            </b>
            <b>
                <span class="datatext">查询时间：</span>
                <input type="text" class="my-input" />
            </b>

        </div>
    </div>

    <div class="cont">

        <div class="data-table">
            <div class="data-list">
                <table style="min-width:600px;" id="MyTable" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>会头</th>
                            <th>会单ID</th>
                            <th>会费</th>
                            <th>总会款</th>
                            <th>会员人数</th>
                            <th>首标日期</th>
                            <th>会状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- 数据行 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @RenderPage("~/Views/Shared/_WxFoot.cshtml")
    @*<div class="goTop">TOP</div>
    <div class="footnav">
        <ul>
            <li id="foot1"><a href="javascript:void(0);">1</a></li>
            <li id="foot2">
                <a href="javascript:void(0);">2</a>
                <div class="footdiv" id="footdiv3">
                    <div>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                    </div>
                    <div class="triangle"></div>
                </div>
            </li>
            <li id="foot3">
                <a href="javascript:void(0);">3</a>
                <div class="footdiv" id="footdiv3">
                    <div>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                    </div>
                    <div class="triangle"></div>
                </div>
            </li>
            <li id="foot4"><a href="javascript:void(0);">4</a></li>
        </ul>
    </div>
    <div class="over" style="display:none">到底了！</div>*@
</body>
</html>
<script src="~/Scripts/clipboard.min.js"></script>
<script type="text/javascript">
    var clipboard = new Clipboard('#btn_fz', {
            text: function () {
                return 'http://gm.cf518.cn/Wx/WxCreateFriend?pid='+@Model.id;
            }
        });
        clipboard.on('success', function (e) {
            alert("复制成功");
        });
        clipboard.on('error', function(e) {
            alert("复制失败");
        });
</script>
<script type="text/javascript">
    $(function () {
        var timestamp = (new Date()).getTime();
        var noncestr = Math.random().toString(36).substr(2);

        var sign_str=
           "jsapi_ticket="+data.data.ticket+
           "&noncestr="+noncestr+
           "&timestamp="+timestamp+
           "&url="+url;
        //签名
        var signature=CryptoJS.SHA1(sign_str).toString();
        wx.config({
            debug: false,
            appId: 'wx77e5a850663d5baa',
            timestamp: timestamp,
            nonceStr: noncestr,
            signature: '<%=signatrue%>',
            jsApiList: [
              'onMenuShareTimeline',
              'onMenuShareAppMessage',
            ]
        });
        wx.ready(function () {
            // 2. 分享接口
            // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareAppMessage({
                title: '<%=title%>',
                desc: '<%=desc%>',
                link: '<%=linkurl%>',
                imgUrl: '<%=imgurl%>',
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                    //alert('用户点击发送给朋友');
                },
                success: function (res) {
                    $(".fenxiang").fadeOut();
                    //alert('已分享');
                },
                cancel: function (res) {
                    $(".fenxiang").fadeOut();
                    //alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareTimeline({
                title: '<%=title%>',
                link: '<%=linkurl%>',
                imgUrl: '<%=imgurl%>',
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                    //alert('用户点击分享到朋友圈');
                },
                success: function (res) {
                    $(".fenxiang").fadeOut();
                    //alert('已分享');
                },
                cancel: function (res) {
                    $(".fenxiang").fadeOut();
                    //alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        });
    })
</script>
